:root {
    --color-pale-blue: hsl(225, 100%, 94%);
    --color-bright-blue: hsl(245, 75%, 52%);
    --color-very-pblue: hsl(225, 100%, 98%);
    --color-desaturated-blue: hsl(224, 23%, 55%);
    --color-dark-blue: hsl(223, 47%, 23%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: var(--color-pale-blue);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.main {
    background-color: white;
    margin: 10% 35%;
    border-radius: 15px;
    text-align: center;
}

.main-img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 20%;
}

.main-title {
    margin-top: 10%;
    font-size: 1.6em;
    color: var(--color-dark-blue);
    font-weight: 900;
}

.main-text {
    margin: 2% 10% 5% 10%;
    line-height: 1.5em;
    color: var(--color-desaturated-blue);
}

.service-plan {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0% 8% 5% 8%;
    width: 80%;
    background-color: var(--color-very-pblue);
    border-radius: 10px;
    padding: 5% 2% 5% 2%;
}

.text-plan {
    color: var(--color-dark-blue);
    font-weight: 900;
    font-size: 0.9em;
}

.price-plan {
    color: var(--color-desaturated-blue);
    margin-top: 10%;
    font-size: 0.9em;
    margin-bottom: 5%;
}

.music-img {  
    max-width: 100%; 
    height: auto; 
    margin-right: 1em;
}

.change-plan {
    color: var(--color-bright-blue);
    font-size: 0.75em;
    font-weight: 900;
    margin-left: 30%;
    text-decoration: underline;
}

.change-plan:hover {
    color: hsla(245, 75%, 52%, 0.75);
}

.button-pay {
    width: 80%;
    margin: 0% 10%;
    border-radius: 10px;
    border-style: none;
    height: 3.5em;
    background-color: var(--color-bright-blue);
    color: white;
    font-size: 0.75em;
    font-weight: 900;
    text-align: center;
}

.button-pay:hover {
    background-color: hsla(245, 75%, 52%, 0.75);
}

.button-cancel {
    text-align: center;
    border-style: none;
    background-color: white;
    color: var(--color-desaturated-blue);
    font-weight: 800;
    font-size: 0.72em;
    margin: 5% 10% 10% 10%;
    width: 80%;
}

.button-cancel:hover {
    color: var(--color-dark-blue);
}

@media screen and (max-width: 1150px) {
    .main {
        margin: 10% 33%;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        margin: 10% 31%;
    }
}

@media screen and (max-width: 910px) {
    .main {
        margin: 10% 29%;
    }
}

@media screen and (max-width: 830px) {
    .main {
        margin: 10% 25%;
    }
}

@media screen and (max-width: 700px) {
    .main {
        margin: 10% 22%;
    }
}

@media screen and (max-width: 630px) {
    .main {
        margin: 10% 17%;
    }
}

@media screen and (max-width: 530px) {
    .main {
        margin: 10% 14%;
    }
}